aiosqlite
asyncmy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
SQLAlchemy
fastapi
uvicorn[standard]
gunicorn
uvloop
httptools

qianfan
openai
httpx
pytest-playwright
requests
PyYAML
beautifulsoup4

redis
tencentcloud-sdk-python
cos-python-sdk-v5

lancedb
pandas
pillow

pre-commit
